Sistemi Operativi - C/1 System Call e FIle/a.out
Algoritmi 1 - C/UPOlib/src/utility.o
Algoritmi 1 - C/UPOlib/src/timer.o
Algoritmi 1 - C/UPOlib/src/stack.o
Algoritmi 1 - C/UPOlib/src/sort.o
Algoritmi 1 - C/UPOlib/src/random.o
Algoritmi 1 - C/UPOlib/src/io.o
Algoritmi 1 - C/UPOlib/src/hires_timer.o
Algoritmi 1 - C/UPOlib/src/hashtable.o
Algoritmi 1 - C/UPOlib/src/bst.o
Algoritmi 1 - C/UPOlib/bin/libupoalglib_s.a
Algoritmi 1 - C/UPOlib/apps/use_timer
Algoritmi 1 - C/UPOlib/apps/sort_playlist.o
Algoritmi 1 - C/UPOlib/apps/sort_playlist_multi.o
Algoritmi 1 - C/UPOlib/apps/sort_playlist_multi
Algoritmi 1 - C/UPOlib/apps/sort_playlist
Algoritmi 1 - C/UPOlib/apps/sort_compare
Algoritmi 1 - C/UPOlib/apps/postfix_eval
Algoritmi 1 - C/UPOlib/apps/playlist.o
